body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

*{
    margin: 0;
padding: 0;
font-family: monospace;
box-sizing: border-box; 
}

#container{
    position : absolute; 
    width: 100%;
    height: 100%;
    background-color: #333333;
}


#login-container{
    width: 25%;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(225,225,225, 0.2);
    padding: 1rem;
}

#form{
    width: 100%;
    height: 100%;
    display: block;
}

.title{
    width: 100%;
    color : #fff;
    font-size: 1.1rem;
    font-family: 'comic sans ms';
    text-align: center;
    margin: 1rem 0;
}

.form-group{
    width: 100%;
    height: 100%;
    float: left;
}

.form-group label {
    margin : .7rem 0 0.3rem 0;
    width: 100%;
    display: block;
float : left ;
color : #fff;
}

.form-group .form-control {
    margin : 0 0 1rem 0;
    background-color: #222222;
    color : #10151a;
    border : .1rem solid #1e90ff;
    padding: .2rem;
    width: 100%;
    font-family: arial;
    outline: none;
    transition: all ease-in-out .2s ;

}

.form-control:focus {
    color : #1e90ff;
    border-width: .2rem;
}

.form-btn {
display : block;
margin : 1rem auto ; 
/* // auto kenar e 1rem ?? */
border : none ; 
background-color: #1e90ff;
color : #fff ;
 font-size: 1rem;
 outline: none;
 padding: .3rem .8rem ;
}














